In [1]:
import pandas as pd
import numpy as np

# Losowanie uczestników do debaty oksfordzkiej
2018-06-05

In [3]:
# Wczytaj dane z formularza Google
data = pd.read_csv(r'C:\Users\Ol\Documents\DATA ANALYSIS\Debata oksfordzka.csv')

In [5]:
# Sprawdź liczność grup
data['Preferowana grupa'].value_counts()

Za tezą          9
Przeciw tezie    4
Name: Preferowana grupa, dtype: int64

In [7]:
# Mamy łącznie 13 zgłoszeń, potrzebujemy wylosować i przenieść do przeciwnej grupy
# dwie osoby z grupy "Za tezą", żeby uzyskać stosunek liczebności grup 7 / 6 
data[data['Preferowana grupa'] == 'Za tezą'].sample(2)

            Sygnatura czasowa    Imię i nazwisko Preferowana grupa
3  2018/06/01 10:36:56 PM EET  Katarzyna Czajka            Za tezą
9   2018/06/03 3:29:39 PM EET   Weronika Lewicka           Za tezą

In [8]:
data['Wylosowana grupa'] = data['Preferowana grupa']

In [14]:
data.iloc[3,3] = 'Przeciw tezie'
data.iloc[9,3] = 'Przeciw tezie'

In [15]:
data

,Sygnatura czasowa,Imię i nazwisko,Preferowana grupa,Wylosowana grupa
0,2018/06/01 6:35:06 PM EET,Aleksander Molak,Za tezą,Za tezą
1,2018/06/01 8:02:49 PM EET,Agnieszka Zdrzalik,Przeciw tezie,Przeciw tezie
2,2018/06/01 10:10:49 PM EET,Lilyana Smirnova,Za tezą,Za tezą
3,2018/06/01 10:36:56 PM EET,Katarzyna Czajka,Za tezą,Przeciw tezie
4,2018/06/02 2:32:28 AM EET,Natalia Mróz,Za tezą,Za tezą
5,2018/06/02 3:07:41 PM EET,Joanna Mendrycka,Za tezą,Za tezą
6,2018/06/02 5:35:54 PM EET,Gosia Wyrzykowska,Przeciw tezie,Przeciw tezie
7,2018/06/03 3:06:10 AM EET,Veronika Rudyk,Za tezą,Za tezą
8,2018/06/03 3:29:26 PM EET,Natalia Jakubowska,Za tezą,Za tezą
9,2018/06/03 3:29:39 PM EET,Weronika Lewicka,Za tezą,Przeciw tezie
10,2018/06/03 8:33:11 PM EET,Emilia Szuchniewicz,Przeciw tezie,Przeciw tezie
11,2018/06/03 8:33:11 PM EET,Aleksandra Siemieniuk,Przeciw tezie,Przeciw tezie
12,2018/06/04 11:40:47 AM EET,Michał Kurowski,Za tezą,Za tezą